* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  color: black;
  border-radius: 4px;
}

.container {
  width: 400px;
  background-color: #6a1b9a;
  border: 1px solid lightblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container label {
  display: block;
  margin-bottom: 5px;
}

.container input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.container p {
  margin-top: 10px;
}

.horizontal-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.horizontal-links li {
  margin-right: 20px;
}

.horizontal-links li:last-child {
  margin-right: 0;
}

.horizontal-buttons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 10px;
}

.title {
  margin-bottom: 20px;
  margin-top: -100px;
  color: lightblue;
}

.title-vampirism {
  display: flex;
  text-align: center;
  margin-left: 30px;
  color: lightblue;
}

.title-void {
  display: flex;
  text-align: center;
  margin-left: 70px;
  color: lightblue;
}

.title-strike {
  margin-left: 120px;
  color: lightblue;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

.vampirism-index {
  font-size: 12px;
  display: flex;
  text-align: center;
  margin-left: 2px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.void-index {
  font-size: 12px;
  display: flex;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.strike-index {
  font-size: 12px;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: White;
  font-weight: bold;
  margin-left: 14px;
}

button {
  height: 20px;
  width: 100px;
  color: lightcyan;
  font-weight: bold;
  background-color: black;
  border: 1px solid lightblue;
  border-radius: 4px;
  cursor: pointer;
}
